/*
HTML RESET
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  /*
  MAIN BODY
  */

  body {
    background-color: #F2F2F2;
    font-family: 'Inter';
  }

  button {
    background-color: #A67153;
    color: #F2F2F2;
    border-style: none;
    cursor: pointer;
  }

  #showDialog, #submit{
    border-radius: 20px;
    padding: 2px 30px;
    height: 36px;
  }

  dialog {
    width: 400px;
    border-style: none;
    border-radius: 15px;
    padding: 25px;
    margin: auto;
  }

  .dialoghead {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #26150F;
    color: #F2F2F2;
  }

  .library {
    padding: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 300px);
    border-radius: 10px;
    justify-content: space-around;
  }

.book {
    background-color: white;
}